<div class="top home">{{#top}}
<p{{#active}} class="current"{{/active}}><a href="{{link}}">{{name}}</a></p>
{{/top}}</div>

<div class="middle sections">{{#middle}}
<p{{#active}}  class="current"{{/active}}><a href="{{link}}">{{name}}</a></p>
{{/middle}}</div>

<div class="bottom activities">{{#bottom}}
<p{{#active}}  class="current"{{/active}}><a href="{{link}}">{{name}}</a></p>
{{/bottom}}</div>